<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer_total">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import engineer_total urdf file -->
    <xacro:include filename="$(find engineer_description)/urdf/engineer_total.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="engineer_total.ros2_control.xacro" />


    <xacro:engineer_total_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
