<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="multi_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="J0_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J4_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J5_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J5_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J6_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J6_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="chassis_x">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['chassis_x']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="chassis_y">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['chassis_y']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="chassis_theta">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['chassis_theta']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j0">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j0']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
